<div class="home__container">
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202307/0710/28b62abf77fde8a35e133f69a9a253e4307b2a04d2040699.jpg?w=780&thumb=false"
		gameLabel="NEW"
		gameType="Edição Standard | PS4 PS5"
		gamePrice="R$ 358,99"
	>
	</app-card>
	<app-card
	gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1301/aadb5351d344fa9228b0da2b1289869251dd242c7ecd65e7.jpg?w=780&thumb=false"
	gameLabel="NEW"
	gameType="Edição Digital Deluxe | PS5"
	gamePrice="R$ 399,50"
>
</app-card>
<app-card
gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/0109/a591495d12a1f0a03bd477b383a7a952e774d8dd49daf064.jpg?w=780&thumb=false"
gameLabel="NEW"
gameType="Edição Kobe Bryant | PS4 PS5"
gamePrice="R$ 349,90"
>
</app-card>
<app-card
gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/1415/a43f7a9e28b0ff81d82f9a83bc85d5d5fe59b6f7bdd6828f.jpg?w=780&thumb=false"
gameLabel="NEW"
gameType="MWIII Multigeração | PS4 PS5"
gamePrice="R$ 299,99"
>
</app-card>
<app-card
gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202310/2719/83b2a39dbb162721ccb451fa3d4b62852da224131eb39212.jpg?w=780&thumb=false"
gameLabel="NEW"
gameType="DIGITAL | PS4 PS5 "
gamePrice="GRATUITO"
>
</app-card>
<app-card
gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202309/0618/36ed2eda6185435322623473185b7ec765875be46b9b3a83.jpg?w=780&thumb=false"
gameLabel="NEW"
gameType="Edição Standard | PS5"
gamePrice="R$ 358,90"
>
</app-card>
<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
	gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202208/1716/tw8UCwGRiKfUF7l7DSu8xaIa.jpg?w=780&thumb=false"
	gameLabel="TOP 10"
	gameType="DIGITAL | PS4 PS5"
	gamePrice="R$ 349,90"
	>
</app-card>
<app-card
gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202202/2816/mYn2ETBKFct26V9mJnZi4aSS.png?w=780&thumb=false"
gameLabel="TOP 10"
gameType="DIGITAL | PS4 PS5"
gamePrice="R$ 108,99"
>
</app-card>
<app-card
gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/2120/c43634250d3be777a32ff55980ebe29889ad6cc4a337d3b5.png?w=780&thumb=false"
gameLabel="TOP 10"
gameType="DIGITAL | PS4 PS5"
gamePrice="GRATUITO"
>
</app-card>
</div>

